<h3>Orbit Report</h3>
<table>
    <thead>
        <tr class="header-row">
            <th class="sortable" (click)="sort('name');">Name</th>
            <th class="sortable" (click)="sort('type');">Type</th>
            <th>Orbit Type</th>
            <th>Launch Date</th>
            <th>Operational</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sat of satellites">
            <td [class.warning]="sat.shouldShowWarning()">{{sat.name}}</td>
            <td [class.warning]="sat.shouldShowWarning()">{{sat.type}}</td>
            <td [class.warning]="sat.shouldShowWarning()">{{sat.orbitType}}</td>
            <td [class.warning]="sat.shouldShowWarning()">{{sat.launchDate}}</td>
            <td [class.warning]="sat.shouldShowWarning()">{{sat.operational}}</td>
        </tr>
    </tbody>
</table>
